$strong_cyan: hsl(171, 66%, 44%);
$darker_strong_cyan_20: #1e9583; // darker with 20%
$darker_strong_cyan_30: #1b8273;

$light_blue: hsl(233, 100%, 69%);
$darker_light_blue_20: #4e5ccc;
$darker_light_blue_30: #4451b3;

$dark_grayish_blue: hsl(210, 10%, 33%);
$grayish_blue: hsl(201, 11%, 66%);
$lighter_grayish_blue_80: #eceef0;

$white: white;

// main title font
$main_title_font: 2.3rem;
$main_title_subtitle_font: 1.05rem;

// subtitle font
$subtitle_font: 2rem;
$body_font: 1rem;

// margin
$space_btw_title_subtitle: 1rem;

// line height
$line_height: 1.8rem;
