.logo_svg {
  display: block;
  width: 6rem;
  margin: 0 auto;
  padding-top: 5rem;

  &_small {
    width: 3rem;
    margin: 0;
    padding: 0;
  }
}

.features_icon {
  width: 2.5rem;
}

.footer_icon {
  width: 1.5rem;
  cursor: pointer;
}

@media (max-width: 375px) {
  .logo_svg {
    &_small {
      margin: 2rem auto 1rem;
    }
  }
  .footer_icons {
    margin-bottom: 2rem;
  }
}
