@use "../../../styles/variables" as v;

.searchbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0rem 0rem 1rem;

  &-icon {
    height: 1.5rem;
    color: v.$active-icon;
  }

  &-input {
    background-color: v.$background;
    border: none;
    font-size: 1.1rem;
    letter-spacing: v.$letter-space;
    outline: none;
    color: v.$searchbar;

    &-active {
      transition-delay: 20ms; // prevent immediate color change
      color: v.$active-icon;
    }
  }
}
