@use "./styles/variables" as v;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

.main {
  background-color: v.$background;
  width: 100%;
  height: 100vw;

  padding: 3rem;

  display: flex;
  flex-direction: row;
  gap: 2rem;

  &-area {
    flex-grow: 1;
  }
}
