// colors

$background: #10141f;
$main-icon: #fd4644;
$active-icon: #fffffe;
$inactive-icon: #5b6f90;
$sidebar: #161d2f;
$searchbar: #747782;

$icon-size-small: 2rem;
$icon-size-big: 3rem;
$avatar-icon: 4rem;

$letter-space: 1px;
