// colors
$website_color: #1f2b3d;
$header_text: #eeeaf1;
$underline: #414851;
$underline_focus: #e69c24;
$add_symbol: #007c4f;
$delete_symbol: red;
$item_bg: #101722;
$item_bg_hover: #121a26;
$item_indicator_bg: #333649;

// sizes
$main_width: 60%;
