$bluish: hsl(238, 40%, 52%);
$red: hsl(358, 79%, 66%);
$light_blue: hsl(239, 57%, 85%);
$light_red: hsl(357, 100%, 86%);
$dark_gray: hsl(212, 24%, 26%);
$gray: hsl(211, 10%, 45%);
$white2: hsl(223, 19%, 93%);
$white1: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

$font_size: 16px;

$border_radious: 0.5rem;

$item_height: 9rem;
$item_padding: 1rem;
