@use "../../styles/variables" as v;
@use "../../styles/mixin" as m;

.reply_comment {
  @include m.mainCommentBg();

  display: flex;
  gap: 1rem;

  &_input_field {
    flex-grow: 1;
    outline: none;
    border: 1px solid v.$white2;
    border-radius: v.$border_radious;
    font-size: v.$font_size;
    padding: 1rem;
    resize: none;
    color: v.$gray;
  }
}
