@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.item {
  position: relative;
  width: 18rem;
  height: 14rem;
  margin-top: 2rem;
  cursor: pointer;

  &-img {
    transition: all 0.3s ease-in-out;
    @include m.fitImageIntoDiv(100%, 100%);

    &-container {
      overflow: hidden;
      border-radius: 0.5rem;
      height: 100%;
      width: 100%;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &-container {
    font-size: 0.8rem;
    font-weight: 700;
    color: v.$searchbar;

    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;

    &-symbol {
      height: 1rem;
      width: 1rem;
    }

    &-circle {
      font-size: 1.2rem;
    }
  }

  &-text {
    color: v.$active-icon;
  }

  &-bookmark {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: v.$sidebar;
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;
    opacity: 0.8;
    cursor: pointer;

    &-symbol {
      height: 1.2rem;
      width: 1.2rem;
      margin: 6px 7px;
      color: v.$active-icon;
      fill: none;

      &:hover {
        fill: v.$active-icon;
      }
    }
  }

  &-flex-modifier {
    display: flex;
    flex-direction: column;
  }

  &-trending-modifier {
    width: 27rem;
    height: 15rem;

    &-text-container {
      position: absolute;
      left: 1.5rem;
      bottom: 2rem;

      font-size: 1.5rem;
    }
  }
}
