@use "../../styles/variables" as v;
@use "../../styles/mixin" as m;

.main_comment {
  @include m.mainCommentBg();
  margin-top: 2rem;

  &_cont {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: 30% auto;
    row-gap: 1rem;

    &_edit_modifier {
      grid-template-rows: auto auto auto;
    }
  }

  &_modifier {
    display: grid;
    justify-content: center;
    grid-row: 1 / 3;
  }

  &_update_btn_modifier {
    grid-column: 2 / 3;
    display: flex;
    justify-content: end;
  }
}

.item_top_side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: v.$font_size;

  &_cont {
    @include m.centerItemWithFlex();
    gap: 1rem;

    &_cont {
      @include m.centerItemWithFlex();
      gap: 0.5rem;
    }
  }
}

.item {
  &_name {
    color: v.$dark_gray;
    font-weight: 700;
  }

  &_time {
    font-weight: 400;
  }

  &_desc {
    grid-column: 2 / 3;
  }

  &_time,
  &_desc {
    color: v.$gray;
  }
}

.action_btns_cont {
  @include m.centerItemWithFlex();
  gap: 1.5rem;
}
