@use "../../styles/variables" as v;

.bg_disabled {
  position: absolute;
  background-color: v.$hidden_bg;
  width: 100%;
  height: 100%;

  &_hide {
    display: none;
  }
}

.create_board {
  position: absolute;
  top: 15%;
  left: 40%;
  width: 30%;
  height: 70%;
  background-color: v.$sides_bg;
  border-radius: 0.5rem;
  padding: 2rem;

  &_hide {
    display: none;
  }

  &_symbol {
    position: absolute;
    top: 3%;
    right: 4%;
    height: 1.6rem;
    cursor: pointer;
    border: 2px solid v.$new_board_text;
    border-radius: 0.5rem;
    color: v.$new_board_text;
  }

  &_header {
    color: v.$header_text;
    font-size: 1.4rem;
  }
}
