@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.input {
  @include m.centerItem();
  width: v.$main-width;
  display: grid;
  grid-template-columns: min-content auto;
  margin-bottom: 1rem;
  align-items: center;
  margin-top: 1rem;

  &_symbol {
    width: 2rem;
    height: 2rem;
    color: v.$add_symbol;
    stroke-width: 3;
  }

  &_field {
    width: 100%;
    padding: 0.5rem;
    background-color: v.$website_color;
    font-size: 1.2rem;
    border: none;
    outline: none;
    color: v.$header_text;

    &:focus ~ div::before {
      transform: scaleX(1);
    }
  }

  &_stripe {
    height: 3px;
    border-radius: 1rem;
    background-color: v.$underline;
    grid-column: 1 / 3;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: v.$underline_focus;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }
  }
}
